.inner {
  max-width: 900px;
  margin: 0 auto;
}

#faq {
  display: none;
}
#faq .inner .h2 {
  font-size: calc(1rem + 1vw);
}
#faq .inner .faqwrap ul li.open h3 {
  background-color: blue;
}
#faq .inner .faqwrap ul li.open P {
  max-height: 400px;
}
#faq .inner .faqwrap ul li h3 {
  font-size: 1.2rem;
}
#faq .inner .faqwrap ul li P {
  padding: 0 1rem;
  line-height: 1.8;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
#faq .inner .faqwrap ul li P:before, #faq .inner .faqwrap ul li P:after {
  content: "";
  display: block;
  height: 1rem;
}